*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

:root {
  --bg-top-lightness: 48%;
  --bg-bottom-lightness: 38%;
}

body {
  font-family: "Datatype", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-image: linear-gradient(
    180deg,
    hsl(145 63% var(--bg-top-lightness)) 0%,
    hsl(145 63% var(--bg-bottom-lightness)) 100%
  );
  background-attachment: fixed;
  transition: background-image 0.15s linear;
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}

/* small devices */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* tablets */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* laptops */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* desktops */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* large screens */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

#vm-translator,
#assembler,
#machine-code-section {
  margin-bottom: 5rem;
}

main {
  margin-block: 2rem;
}

main h1 {
  font-size: 5rem;
  font-weight: 900;
}

main p {
  font-size: 2rem;
  font-weight: 300;
}

.main,
.vm-main {
  margin-top: 3rem;
  display: grid;
  gap: 1rem;
}

.main {
  /* grid-template-columns: 1fr 300px; */
  /* grid-template-rows: 1fr min-content; */
}

.vm-main {
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 1fr min-content; */
}

.main .main-cols {
}

.main textarea,
.vm-main textarea {
  width: 100%;
  height: 100%;
  /* max-height: 30rem; */
  background-color: #2ecc71;
  outline: none;
  padding: 5px;
  overflow-y: scroll;
  font-size: 1.2rem;
}

.code-cols {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.code-cols li {
  background-color: #2ecc71;
  border-radius: 5px;
  font-size: 1.2rem;
  flex-grow: 1;
  display: flex;
  align-items: end;
  cursor: pointer;
  transition: all 0.3s ease;
}

.code-cols li span {
  display: block;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 10px;
}

.code-cols li:hover {
  transform: translateY(-5px);
}

.main [data-action="assemble"],
.vm-main [data-action="translate"] {
  background-color: #2ecc71;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.machine-code {
  margin-top: 2rem;
  min-height: 100vh;
}

.machine-code h2 {
  font-size: 2rem;
  font-weight: 900;
}

.machine-code .output,
.machine-code .output-error {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

.machine-code .output {
  background-color: #2ecc71;
  overflow-y: scroll;
  height: 40rem;
  max-height: 40rem;
  margin-bottom: 3rem;
  white-space: pre;
}

.machine-code .output-error {
  background-color: #c0392b;
  color: #fff;
  border: 2px solid #a93226;
}

.main [data-action="clear"],
.vm-main [data-action="clear"] {
  background-color: #2ecc71;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.controls {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  > button:first-of-type {
    flex-grow: 2;
  }
  > button:last-of-type {
    flex-grow: 1;
    background-color: #145a32;
    border: 1px solid #0d3f23;
    color: white;
    transition: all 0.3s ease;
  }
  > button:last-of-type:hover {
    background-color: #0f4728;
  }
}

.assembler-main {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 1rem;
  min-height: 30rem;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.vm-main-col textarea {
  min-height: 30rem;
}
